* {
  font-family: "Ubuntu Nerd Font";
  font-size: 13px;
  /* font-family: Cantarell, sans-serif; */
  /* font-size: 13px;   */
  border: none;
  min-height: 0;
}
.horizontal {
  padding: 2px;
}
window#waybar {
  /* background: transparent; */
  /* background: black; */
  background: rgba(40, 44, 52, 0.85);
  color: white;
  padding: 10px;
  opacity: 0.8;
  /* border: 1px solid #8fd4ff; */
  border-radius: 10px;
}

#window {
  font-family: "Cantarell";
}

#workspaces button {
  color: #64727D;
}
#workspaces button.visible {
  color: #8fd4ff;
}
#workspaces button.active {
  color: white;
  /*box-shadow: inset 0 -1.5px black;*/
  border: 1px solid #8fd4ff;
}
#workspaces button.current_output {
  color: #8fd4ff;
  /*border: 1px solid #8fd4ff;*/
}
#workspaces button.focused {

    box-shadow: inset 0 -1px #eee8d5;
}

#tray,
#temperature,
#clock,
#battery,
#cpu,
#memory,
#pulseaudio {
  padding: 0 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#idle_inhibitor {
  color: #f7f32b;
}

#battery icon {
  color: #b62d66;
}

#battery.charging {
  border-bottom: 1px dotted #8fd4ff;
}

@keyframes blink {
  to {
    background-color: #8fd4ff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 5px;
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 5px;
}
#custom-archupdates {
  color: #81a1c1;
}
#network {
  color: #a3be8c;
}
#network.disconnected {
  color: #b62d66;
}

